{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Welcome to the Messaging Portal {% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Welcome to the messaging portal, select an option from below to where you want to go</p>
  <div>
    <a class="action" href="{{ url_for('messaging.send_message') }}">Send a Message</a>
  </div>
    <br>
  <div>
    <a class="action" href="{{ url_for('messaging.message_history') }}">Message History</a>
  </div>
    <br>
  <div>
    <a class="action" href="{{ url_for('home.index') }}">Return to website home</a>
  </div>
{% endblock %}
