{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Conversation with {{ receiver }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <br>
  {% for message in message_history %}
    <div class="about"><h4>From: {{ message['sender'] }} || To: {{ message['receiver'] }} || At: {{ message['date'] }} {{ message['time'] }}</h4></div>
    <div class="about">{{ message['message'] }}</div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  <hr>
  <div>
    <a class="action" href="{{ url_for('messaging.home') }}">Return to messaging home</a>
  </div>
  <br>
  <div>
    <a class="action" href="{{ url_for('home.index') }}">Return to website home</a>
  </div>

{% endblock %}