{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Welcome to the Payments Portal {% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Welcome to the payments portal, select an option from below to where you want to go</p>
  <div>
    <a class="action" href="{{ url_for('payments.make_payment') }}">Make a payment</a>
  </div>
    <br>
  <div>
    <a class="action" href="{{ url_for('payments.payment_history') }}">Payment History</a>
  </div>
    <br>
  <div>
    <a class="action" href="{{ url_for('home.index') }}">Return to website home</a>
  </div>
{% endblock %}
